/*

*/

.version._404 /* version checker */
{
	color: #0000FC;
	background-color: #2BE32D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 62px;
	width: 0.01px;/* should not cover content below */
}

#u9404-4
{
	z-index: 18;
	min-height: 148px;
	background-color: transparent;
	font-size: 120px;
	color: #FF3D3D;
	line-height: 144px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 800;
	font-style: italic;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u9404-4-bw
{
	z-index: 18;
	min-height: 148px;
}

#u470-16
{
	z-index: 2;
	width: 789px;
	min-height: 91px;
	background-color: transparent;
	text-align: center;
	margin-left: 81px;
	position: relative;
}

#u470-2
{
	font-size: 30px;
	line-height: 36px;
	color: #1ECAB4;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u470-3
{
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u470-5,#u470-6,#u470-7,#u470-9,#u470-10,#u470-11
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u470-14
{
	font-size: 18px;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u470-12
{
	font-size: 12px;
	line-height: 14px;
}

.html
{
	background: #FFFFFF url("../images/webbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
	padding-bottom: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-extrabold.eot');
	src: local('☺'), url('../fonts/montserrat-extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

