/*

*/

.version.contact /* version checker */
{
	color: #00001F;
	background-color: #882767;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 998px;
	min-height: 497.99999999999994px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu94
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-left: -1px;
}

#u94
{
	z-index: 54;
	width: 998px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u97
{
	z-index: 55;
	width: 204px;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -496px;
}

#menuu158
{
	z-index: 57;
	width: 268px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 212px;
}

#u159
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u160
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u207
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160.MuseMenuActive,#u207:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u209-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160.MuseMenuActive #u162-4,#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u247
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u207.MuseMenuActive,#u247:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u247.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u250-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u207.MuseMenuActive #u209-4,#u247:hover #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u247.MuseMenuActive #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	z-index: 76;
	width: 208px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u583-4
{
	z-index: 2;
	width: 467px;
	min-height: 17px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	margin-left: 265px;
	margin-top: 27px;
	position: relative;
	border-width: 0px 0px 5px;
}

#u586-17
{
	z-index: 6;
	width: 467px;
	min-height: 155px;
	background-color: transparent;
	margin-left: 265px;
	margin-top: 15px;
	position: relative;
}

#u586-3,#u586-6,#u586-9,#u586-12,#u586-15
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u586,#u586-4,#u586-7,#u586-10,#u586-13
{
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	line-height: 22px;
}

#u317
{
	z-index: 23;
	width: 998px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 67px;
	position: relative;
}

#pu364-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 19px;
}

#u364-4
{
	z-index: 41;
	width: 156px;
	min-height: 16px;
	position: relative;
}

#u320-17
{
	z-index: 24;
	width: 156px;
	min-height: 85px;
	margin-top: 5px;
	position: relative;
}

#pu373
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 58px;
	margin-left: 363px;
}

#u373
{
	z-index: 49;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u383
{
	z-index: 51;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u386
{
	z-index: 52;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 218px;
}

#u389
{
	z-index: 53;
	width: 272px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
}

.ie #u271,.ie #u389
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u370-4
{
	z-index: 45;
	width: 213px;
	min-height: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 766px;
}

.html
{
	background: #FFFFFF url("../images/webbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

