/*

*/

.version.cookie_policy /* version checker */
{
	color: #000001;
	background-color: #98F533;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 80;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 82;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 84;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu571
{
	z-index: 85;
	width: 625px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -170px;
}

#u579
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
}

#u580
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u580:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u581-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u575
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u575:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u577-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u588
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u588:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u595
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u595:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u596-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u602
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u602:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u604-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1528
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u1529
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u1529:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u595.MuseMenuActive,#u602.MuseMenuActive,#u1529.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u612
{
	z-index: 122;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u7797
{
	z-index: 151;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -194px;
}

#u7800
{
	z-index: 152;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#pu1810-74
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 11px;
}

#u1810-74
{
	z-index: 5;
	width: 910px;
	min-height: 349px;
	background-color: transparent;
	font-family: '__Montserrat_5';
	position: relative;
	margin-right: -10000px;
}

#u1810-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: 400;
}

#u1810-7,#u1810-18,#u1810-24,#u1810-30,#u1810-36,#u1810-56,#u1810-67,#u1810-68
{
	text-align: center;
	font-weight: 700;
}

#u1810-70
{
	text-align: left;
	font-weight: 400;
}

#u1810-71
{
	font-weight: 700;
}

#u1810-3,#u1810-4,#u1810-5,#u1810-8,#u1810-10,#u1810-11,#u1810-15,#u1810-16,#u1810-19,#u1810-21,#u1810-22,#u1810-25,#u1810-27,#u1810-28,#u1810-31,#u1810-33,#u1810-34,#u1810-37,#u1810-39,#u1810-40,#u1810-42,#u1810-43,#u1810-45,#u1810-46,#u1810-48,#u1810-49,#u1810-51,#u1810-52,#u1810-53,#u1810-54,#u1810-57,#u1810-59,#u1810-60,#u1810-64,#u1810-65,#u1810-72
{
	font-weight: 400;
}

#u1811
{
	z-index: 79;
	width: 398px;
	height: 2px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 256px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 3px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 81;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 123;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 143;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 127;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

