/*

*/

.version.demos /* version checker */
{
	color: #000002;
	background-color: #19DE6F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 998px;
	min-height: 498px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu94
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-left: -1px;
}

#u94
{
	z-index: 42;
	width: 998px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u97
{
	z-index: 43;
	width: 204px;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -496px;
}

#menuu158
{
	z-index: 45;
	width: 268px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 212px;
}

#u159
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u160
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u207
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160.MuseMenuActive,#u207:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u209-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160.MuseMenuActive #u162-4,#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u247
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u207.MuseMenuActive,#u247:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u247.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u250-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u207.MuseMenuActive #u209-4,#u247:hover #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u247.MuseMenuActive #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	z-index: 64;
	width: 208px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u620-4
{
	z-index: 3;
	width: 760px;
	min-height: 27px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	margin-left: 119px;
	margin-top: 23px;
	position: relative;
	border-width: 0px 0px 5px;
}

#u623-4
{
	z-index: 7;
	width: 760px;
	min-height: 55px;
	background-color: transparent;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-left: 119px;
	margin-top: 12px;
	position: relative;
}

#u595
{
	z-index: 2;
	width: 760px;
	min-height: 1300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 119px;
	position: relative;
}

#u317
{
	z-index: 11;
	width: 998px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#pu364-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 19px;
}

#u364-4
{
	z-index: 29;
	width: 156px;
	min-height: 16px;
	position: relative;
}

#u320-17
{
	z-index: 12;
	width: 156px;
	min-height: 85px;
	margin-top: 5px;
	position: relative;
}

#pu373
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 58px;
	margin-left: 363px;
}

#u373
{
	z-index: 37;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u383
{
	z-index: 39;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u386
{
	z-index: 40;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 218px;
}

#u389
{
	z-index: 41;
	width: 272px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
}

.ie #u271,.ie #u389
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u370-4
{
	z-index: 33;
	width: 213px;
	min-height: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 766px;
}

.html
{
	background: #FFFFFF url("../images/webbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

