/*

*/

.version.index /* version checker */
{
	color: #000004;
	background-color: #1507EC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu155-4
{
	width: 0.01px;
	padding-bottom: 220px;
	margin-right: -10000px;
	margin-top: 174px;
	margin-left: 321px;
}

#u155-4
{
	z-index: 2;
	width: 328px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 169px;
	left: 50%;
	margin-left: -164px;
	border-width: 5px 5px 0px;
}

#u161-4
{
	z-index: 6;
	width: 328px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 229px;
	left: 50%;
	margin-left: -164px;
	border-width: 0px 5px;
}

#u164-4
{
	z-index: 10;
	width: 328px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 284px;
	left: 50%;
	margin-left: -164px;
	border-width: 0px 5px;
}

#u167-4
{
	z-index: 14;
	width: 328px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 339px;
	left: 50%;
	margin-left: -164px;
	border-width: 0px 5px 5px;
}

#u155-4:hover,#u161-4:hover,#u164-4:hover,#u167-4:hover
{
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 328px;
	margin: 0px 0px 0px -164px;
}

#u155-4:hover p,#u161-4:hover p,#u164-4:hover p,#u167-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u155-2,#u161-2,#u164-2,#u167-2
{
	padding-top: 17px;
}

#pu284
{
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 453px;
	margin-left: 358px;
	width: 3.44%;
}

#u284
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u284-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 21;
	left: 50%;
	margin-left: -122px;
	width: 3.44%;
	max-width: 33px;
}

#u180
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u284:hover,#u180:hover
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	min-height: 0px;
	width: 100%;
	max-width: 33px;
	margin: 0px 0px 0px 16px;
}

#u180-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 33;
	left: 50%;
	margin-left: -122px;
	width: 3.44%;
	max-width: 33px;
}

#u170
{
	z-index: 18;
	width: 205px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	left: 50%;
	margin-left: -102px;
}

#pu286
{
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 453px;
	margin-left: 400px;
	width: 21.05%;
}

#u286
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u286-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 23;
	left: 50%;
	margin-left: -80px;
	width: 3.44%;
	max-width: 33px;
}

#u288
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u288-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 25;
	left: 50%;
	margin-left: -37px;
	width: 3.44%;
	max-width: 33px;
}

#u290
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25000000000003px;
	width: 100%;
	max-width: 33px;
}

#u290-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 27;
	left: 50%;
	margin-left: 5px;
	width: 3.44%;
	max-width: 33px;
}

#u292
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u292-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 29;
	left: 50%;
	margin-left: 47px;
	width: 3.44%;
	max-width: 33px;
}

#u294
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u294-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 31;
	left: 50%;
	margin-left: 90px;
	width: 3.44%;
	max-width: 33px;
}

#u193
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u193-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 35;
	left: 50%;
	margin-left: -80px;
	width: 3.44%;
	max-width: 33px;
}

#u203
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u203-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 37;
	left: 50%;
	margin-left: -37px;
	width: 3.44%;
	max-width: 33px;
}

#u213
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25000000000003px;
	width: 100%;
	max-width: 33px;
}

#u213-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 39;
	left: 50%;
	margin-left: 5px;
	width: 3.44%;
	max-width: 33px;
}

#u223
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u223-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 41;
	left: 50%;
	margin-left: 47px;
	width: 3.44%;
	max-width: 33px;
}

#u233
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16.25px;
	width: 100%;
	max-width: 33px;
}

#u286:hover,#u288:hover,#u290:hover,#u292:hover,#u294:hover,#u193:hover,#u203:hover,#u213:hover,#u223:hover,#u233:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	min-height: 0px;
	width: 100%;
	max-width: 33px;
	margin: 0px 0px 0px 16px;
}

#u284_img,#u180_img,#u286_img,#u288_img,#u290_img,#u292_img,#u294_img,#u193_img,#u203_img,#u213_img,#u223_img,#u233_img
{
	padding-right: 1px;
	width: 96.97%;
}

#u233-wrapper
{
	position: fixed;
	bottom: 15px;
	z-index: 43;
	left: 50%;
	margin-left: 90px;
	width: 3.44%;
	max-width: 33px;
}

#u190
{
	z-index: 20;
	height: 62px;
	background: transparent url("../images/u190-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.5) 100%);
	border-radius: 150px 150px 0px 0px ;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u190-bw
{
	z-index: 20;
	height: 62px;
}

.html
{
	background: #23252B url("../images/bandcampbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

