/*

*/

.version.index /* version checker */
{
	color: #000002;
	background-color: #3B13FB;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 500px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u155-4
{
	z-index: 2;
	width: 424px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -217px;
	border-width: 5px 5px 0px;
}

#u161-4
{
	z-index: 6;
	width: 424px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 260px;
	left: 50%;
	margin-left: -217px;
	border-width: 0px 5px;
}

#u164-4
{
	z-index: 10;
	width: 424px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 315px;
	left: 50%;
	margin-left: -217px;
	border-width: 0px 5px;
}

#u167-4
{
	z-index: 14;
	width: 424px;
	min-height: 55px;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: fixed;
	top: 370px;
	left: 50%;
	margin-left: -217px;
	border-width: 0px 5px 5px;
}

#u155-4:hover,#u161-4:hover,#u164-4:hover,#u167-4:hover
{
	-webkit-transition-duration: 0.6s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 424px;
	margin: 0px 0px 0px -217px;
}

#u155-4:hover p,#u161-4:hover p,#u164-4:hover p,#u167-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u155-2,#u161-2,#u164-2,#u167-2
{
	padding-top: 13px;
}

#u170
{
	z-index: 18;
	width: 205px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	left: 50%;
	margin-left: -102px;
}

.html
{
	background: #23252B url("../images/bandcampbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

