/*

*/

.version.licence /* version checker */
{
	color: #0000E0;
	background-color: #9EDD66;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu612
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u612
{
	z-index: 84;
	width: 950px;
	height: 13px;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u543
{
	z-index: 48;
	width: 950px;
	height: 75px;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#menuu571
{
	z-index: 53;
	width: 577px;
	top: 33px;
	left: 50%;
	margin-left: -122px;
}

#u579
{
	width: 113px;
	min-height: 46px;
	margin-right: -10000px;
}

#u580
{
	width: 113px;
	padding-bottom: 29px;
}

#u580:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u580.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u581-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u580.MuseMenuActive #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 115px;
}

#u575
{
	width: 114px;
	padding-bottom: 29px;
}

#u575:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u577-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 231px;
}

#u588
{
	width: 114px;
	padding-bottom: 29px;
}

#u588:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 347px;
}

#u595
{
	width: 114px;
	padding-bottom: 29px;
}

#u595:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u596-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u588.MuseMenuActive #u590-4,#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 463px;
}

#u602
{
	width: 114px;
	padding-bottom: 29px;
}

#u602:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u575.MuseMenuActive,#u588.MuseMenuActive,#u595.MuseMenuActive,#u602.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u604-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u602.MuseMenuActive #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u551
{
	z-index: 50;
	width: 207px;
	top: 41px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 52;
	width: 910px;
	height: 5px;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u446-5
{
	z-index: 5;
	width: 910px;
	min-height: 95px;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u446-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pu447-36
{
	width: 0.01px;
	margin-left: 77px;
}

#u447-36
{
	z-index: 10;
	width: 795px;
	min-height: 605px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u447-3
{
	font-weight: 700;
	line-height: 22px;
}

#u447-16
{
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u447-11
{
	font-size: 48px;
	color: #000000;
	font-weight: 700;
	line-height: 58px;
}

#u447-12,#u447-15
{
	color: #000000;
	line-height: 22px;
}

#u447-5,#u447-9,#u447-32
{
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u446,#u447,#u447-6,#u447-10,#u447-28
{
	font-size: 48px;
	color: #1ECAB4;
	font-weight: 700;
	line-height: 58px;
}

#u447-2,#u447-7,#u447-29
{
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
}

#u446-2,#u447-4,#u447-8,#u447-13,#u447-30
{
	line-height: 22px;
}

#u447-31
{
	font-size: 11px;
	line-height: 13px;
}

#u447-17,#u447-18,#u447-19,#u447-20,#u447-21,#u447-22,#u447-23,#u447-24,#u447-25,#u447-26,#u447-27,#u447-33,#u447-34
{
	color: #000000;
}

#u450
{
	z-index: 46;
	width: 577px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 109px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
}

#u952
{
	z-index: 2;
	width: 349px;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 49;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
}

#u616-4
{
	z-index: 85;
	width: 257px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u617-11
{
	z-index: 89;
	width: 287px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 642px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

