/*

*/

.version.licence /* version checker */
{
	color: #0000F3;
	background-color: #DDFC48;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 547px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 48;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 50;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 52;
	width: 283px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u612
{
	z-index: 53;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#menuu10621
{
	z-index: 83;
	width: 625px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -170px;
}

#u10622
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u10623
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10625-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623:hover #u10625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10629
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u10632
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623.MuseMenuActive,#u10632:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10633-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623.MuseMenuActive #u10625-4,#u10632:hover #u10633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10666
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u10669
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10632.MuseMenuActive,#u10669:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10669.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10671-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10632.MuseMenuActive #u10633-4,#u10669:hover #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10669.MuseMenuActive #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10687
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u10688
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10689-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688:hover #u10689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10708
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u10709
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688.MuseMenuActive,#u10709:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10712-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688.MuseMenuActive #u10689-4,#u10709:hover #u10712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10729
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u10730
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10709.MuseMenuActive,#u10730:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10730.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10732-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10709.MuseMenuActive #u10712-4,#u10730:hover #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10730.MuseMenuActive #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u446-5
{
	z-index: 5;
	width: 910px;
	min-height: 95px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u446-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pu447-36
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: -6px;
}

#u447-36
{
	z-index: 10;
	width: 795px;
	min-height: 605px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u447-3
{
	font-weight: 700;
	line-height: 22px;
}

#u447-16
{
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u447-11
{
	font-size: 48px;
	color: #000000;
	font-weight: 700;
	line-height: 58px;
}

#u447-12,#u447-15
{
	color: #000000;
	line-height: 22px;
}

#u447-5,#u447-9,#u447-32
{
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u446,#u447,#u447-6,#u447-10,#u447-28
{
	font-size: 48px;
	color: #1ECAB4;
	font-weight: 700;
	line-height: 58px;
}

#u447-2,#u447-7,#u447-29
{
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
}

#u446-2,#u447-4,#u447-8,#u447-13,#u447-30
{
	line-height: 22px;
}

#u447-31
{
	font-size: 11px;
	line-height: 13px;
}

#u447-17,#u447-18,#u447-19,#u447-20,#u447-21,#u447-22,#u447-23,#u447-24,#u447-25,#u447-26,#u447-27,#u447-33,#u447-34
{
	color: #000000;
}

#u450
{
	z-index: 46;
	width: 577px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 109px;
}

#u9407
{
	z-index: 82;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 906px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 3px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 49;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 54;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 74;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 58;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

