#u4889
{
	background-color: #030303;
}

#u4886
{
	border-style: solid;
	border-color: #1ECAB4;
	background-color: #FFFFFF;
	border-width: 10px 0px 0px;
}

#u4884,#u4848,#u4849
{
	background-color: transparent;
}

#u4849:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4852-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4849:hover #u4852-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4841,#u4842
{
	background-color: transparent;
}

#u4842:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4845-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4842:hover #u4845-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4855,#u4856
{
	background-color: transparent;
}

#u4856:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4859-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4856:hover #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4862,#u4863
{
	background-color: transparent;
}

#u4863:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4865-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4863:hover #u4865-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4876,#u4879
{
	background-color: transparent;
}

#u4879:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4881-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4879:hover #u4881-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4869,#u4870
{
	background-color: transparent;
}

#u4870:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
}

#u4849.MuseMenuActive,#u4842.MuseMenuActive,#u4856.MuseMenuActive,#u4863.MuseMenuActive,#u4879.MuseMenuActive,#u4870.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 2px 2px 0px;
}

#u4872-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u4870:hover #u4872-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4849.MuseMenuActive #u4852-4 p,#u4842.MuseMenuActive #u4845-4 p,#u4856.MuseMenuActive #u4859-4 p,#u4863.MuseMenuActive #u4865-4 p,#u4879.MuseMenuActive #u4881-4 p,#u4870.MuseMenuActive #u4872-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu4840,#u5942,#u4985
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4972-4
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u4975
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
}

#u4975.MuseLinkActive
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#u5939
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u5939:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4836
{
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
}

#u4883,#u4891
{
	background-color: #000000;
}

#u4888-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u4890-8
{
	background-color: transparent;
	text-align: center;
}

#u4890-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4890,#u4890-3,#u4890-4
{
	font-size: 11px;
	line-height: 13px;
}

#u4887-16
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: '__Montserrat_5';
	font-weight: 400;
}


