#u94
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E6E6E6;
	border-width: 0px 1px 1px;
}

#menuu158
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u160
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
}

#u160:hover
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#u162-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u160:hover #u162-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u207
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
}

#u207:hover
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#u209-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u207:hover #u209-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u247
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
}

#u247:hover
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#u250-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u247:hover #u250-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u160.MuseMenuActive #u162-4 p,#u207.MuseMenuActive #u209-4 p,#u247.MuseMenuActive #u250-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u317
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #E6E6E6;
	border-width: 1px 1px 0px;
}

#u364-4
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	border-width: 0px 0px 1px;
}

#u320-17
{
	background-color: transparent;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u97,#u159,#u204,#u246,#u373
{
	background-color: transparent;
}

#u383
{
	background-color: #1DCAB4;
	border-radius: 10px 0px 0px 10px ;
}

#u386
{
	background-color: #1DCAB4;
	border-radius: 0px 10px 10px 0px ;
}

#u370-4
{
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-family: '__Montserrat_5';
	font-weight: 400;
}


