/*

*/

.version.press /* version checker */
{
	color: #000019;
	background-color: #B2ABC8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
	margin-right: -10000px;
	margin-top: -36px;
}

#u543
{
	z-index: 25;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 27;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 29;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu571
{
	z-index: 30;
	width: 653px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -198px;
}

#u579
{
	width: 107px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
}

#u580
{
	width: 107px;
	padding-bottom: 26px;
	position: relative;
}

#u580:hover
{
	width: 107px;
	min-height: 0px;
	margin: -5px 0px;
}

#u581-4
{
	width: 107px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 107px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u575
{
	width: 107px;
	padding-bottom: 26px;
	position: relative;
}

#u575:hover
{
	width: 107px;
	min-height: 0px;
	margin: -5px 0px;
}

#u577-4
{
	width: 107px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 107px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 218px;
}

#u588
{
	width: 107px;
	padding-bottom: 26px;
	position: relative;
}

#u588:hover
{
	width: 107px;
	min-height: 0px;
	margin: -5px 0px;
}

#u590-4
{
	width: 107px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 107px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u595
{
	width: 107px;
	padding-bottom: 26px;
	position: relative;
}

#u595:hover
{
	width: 107px;
	min-height: 0px;
	margin: -5px 0px;
}

#u596-4
{
	width: 107px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u588.MuseMenuActive #u590-4,#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 107px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#u602
{
	width: 107px;
	padding-bottom: 26px;
	position: relative;
}

#u602:hover
{
	width: 107px;
	min-height: 0px;
	margin: -5px 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive,#u595.MuseMenuActive,#u602.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u604-4
{
	width: 107px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u602.MuseMenuActive #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1528
{
	width: 108px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 545px;
}

#u1529
{
	width: 108px;
	padding-bottom: 26px;
	position: relative;
}

#u1529:hover
{
	width: 108px;
	min-height: 0px;
	margin: -5px 0px;
}

#u1529.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 108px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u612
{
	z-index: 67;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u7797
{
	z-index: 96;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -222px;
}

#u7800
{
	z-index: 97;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#pu541-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 83px;
	margin-left: 20px;
}

#u541-4
{
	z-index: 5;
	width: 910px;
	min-height: 37px;
	border-color: #000000;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u759
{
	z-index: 9;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u918
{
	z-index: 11;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u6543-4
{
	z-index: 13;
	width: 306px;
	min-height: 41px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 297px;
}

#u6543-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 306px;
	margin: 61px -10000px 0px 0px;
}

#u6546-4
{
	z-index: 17;
	width: 306px;
	min-height: 41px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 297px;
}

#u6546-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 306px;
	margin: 139px -10000px 0px 0px;
}

#u6549-4
{
	z-index: 21;
	width: 306px;
	min-height: 41px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 297px;
}

#u6549-4:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 306px;
	margin: 217px -10000px -5px 0px;
}

#u6543-4:hover p,#u6546-4:hover p,#u6549-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6543-2,#u6546-2,#u6549-2
{
	padding-top: 9px;
}

#u9407
{
	z-index: 98;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 983px;
}

#ppu952
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 26;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 68;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 88;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 72;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

.verticalspacer
{
	min-height: 94px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

