/*

*/

.version.press /* version checker */
{
	color: #0000E9;
	background-color: #0A0341;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 499.9000000000001px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -25px;
	width: 0.01px;/* should not cover content below */
}

#u809
{
	z-index: 57;
	width: 50px;
	min-height: 25px;
	margin-left: 1100px;
	position: relative;
}

#u94
{
	z-index: 22;
	height: 62px;
	position: fixed;
	top: 0px;
}

#u94-bw
{
	z-index: 22;
}

#u271
{
	z-index: 56;
	width: 171px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -580px;
}

.ie #u271
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu158
{
	z-index: 25;
	width: 490px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 90px;
}

#u159
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
}

#u160
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u160:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u207
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u160.MuseMenuActive,#u207:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u209-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u160.MuseMenuActive #u162-4,#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u247
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u207.MuseMenuActive,#u247:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u247.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u250-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u207.MuseMenuActive #u209-4,#u247:hover #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u247.MuseMenuActive #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u880
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u881
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u881:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u882-4
{
	width: 97px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u881:hover #u882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u922
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u925
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u881.MuseMenuActive,#u925:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u925.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u926-4
{
	width: 97px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u881.MuseMenuActive #u882-4,#u925:hover #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u925.MuseMenuActive #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u97
{
	z-index: 23;
	width: 171px;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -580px;
}

#u97_img
{
	margin-left: -16px;
	margin-right: -17px;
}

#u611-4
{
	z-index: 18;
	width: 1160px;
	min-height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	margin-left: 20px;
	margin-top: 85px;
	position: relative;
	border-width: 0px 0px 5px;
}

#u608-4
{
	z-index: 14;
	width: 1160px;
	min-height: 61px;
	background-color: transparent;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#pu599-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
}

#u599-4
{
	z-index: 2;
	width: 337px;
	min-height: 27px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u599-4:hover
{
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 337px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u602-4
{
	z-index: 6;
	width: 337px;
	min-height: 27px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 408px;
}

#u602-4:hover
{
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 337px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u605-4
{
	z-index: 10;
	width: 337px;
	min-height: 27px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 817px;
}

#u605-4:hover
{
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 337px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u599-4:hover p,#u602-4:hover p,#u605-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u599-2,#u602-2,#u605-2
{
	padding-top: 2px;
}

#u943
{
	z-index: 58;
	min-height: 114px;
}

#u943_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
}

#pu1323
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 120px;
}

#u1323
{
	z-index: 59;
	width: 336px;
	position: relative;
	margin-right: -10000px;
}

#u1228
{
	z-index: 60;
	width: 336px;
	position: relative;
	margin-right: -10000px;
}

#u1222
{
	z-index: 61;
	width: 334px;
	height: 115px;
	position: relative;
	margin-right: -10000px;
}

#u1225
{
	z-index: 62;
	width: 149px;
	height: 115px;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1320
{
	z-index: 63;
	width: 335px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u946-11
{
	z-index: 64;
	width: 92px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 11px;
}

#u949-11
{
	z-index: 75;
	width: 79px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 80px;
}

#u952-4
{
	z-index: 86;
	width: 148px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u962-4
{
	z-index: 90;
	width: 165px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 170px;
}

#u968-11
{
	z-index: 94;
	width: 89px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 170px;
}

#u969-8
{
	z-index: 105;
	width: 88px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 247px;
}

#pu1148
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 1086px;
}

#u1148
{
	z-index: 119;
	width: 93px;
	margin-left: 101px;
	position: relative;
}

#u1148_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u958-6
{
	z-index: 113;
	width: 194px;
	min-height: 13px;
	margin-top: 13px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u943-bw
{
	z-index: 58;
	min-height: 114px;
	margin-top: 157px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

