/*

*/

.version.press /* version checker */
{
	color: #0000FE;
	background-color: #81F603;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u612
{
	z-index: 53;
	width: 950px;
	height: 13px;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u543
{
	z-index: 17;
	width: 950px;
	height: 75px;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 19;
	width: 207px;
	top: 41px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 21;
	width: 910px;
	height: 5px;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#pu541-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 83px;
	margin-left: 20px;
}

#u541-4
{
	z-index: 5;
	width: 910px;
	min-height: 37px;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u542-4
{
	z-index: 9;
	width: 204px;
	min-height: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 351px;
}

#u542-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 204px;
	margin: 70px -10000px 0px 0px;
}

#u542-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u759
{
	z-index: 13;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u918
{
	z-index: 15;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#menuu571
{
	z-index: 22;
	width: 577px;
	top: 33px;
	left: 50%;
	margin-left: -122px;
}

#u579
{
	width: 113px;
	min-height: 46px;
	margin-right: -10000px;
}

#u580
{
	width: 113px;
	padding-bottom: 29px;
}

#u580:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u580.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u581-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u580.MuseMenuActive #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 115px;
}

#u575
{
	width: 114px;
	padding-bottom: 29px;
}

#u575:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u577-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 231px;
}

#u588
{
	width: 114px;
	padding-bottom: 29px;
}

#u588:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 347px;
}

#u595
{
	width: 114px;
	padding-bottom: 29px;
}

#u595:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u596-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u588.MuseMenuActive #u590-4,#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 114px;
	min-height: 46px;
	margin-right: -10000px;
	left: 463px;
}

#u602
{
	width: 114px;
	padding-bottom: 29px;
}

#u602:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u575.MuseMenuActive,#u588.MuseMenuActive,#u595.MuseMenuActive,#u602.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u604-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u602.MuseMenuActive #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#ppu952
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 443px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
}

#u952
{
	z-index: 2;
	width: 349px;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 18;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
}

#u616-4
{
	z-index: 54;
	width: 257px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u617-11
{
	z-index: 58;
	width: 287px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 642px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -443px;
}

