/*

*/

.version.releases /* version checker */
{
	color: #0000F6;
	background-color: #A2AC04;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 998px;
	min-height: 498px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu94
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-left: -1px;
}

#u94
{
	z-index: 81;
	width: 998px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u97
{
	z-index: 82;
	width: 204px;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -496px;
}

#menuu158
{
	z-index: 84;
	width: 268px;
	position: fixed;
	top: 14px;
	left: 50%;
	margin-left: 212px;
}

#u159
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u160
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u207
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u160.MuseMenuActive,#u207:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u209-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u160.MuseMenuActive #u162-4,#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 88px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u247
{
	width: 88px;
	padding-bottom: 17px;
	position: relative;
}

#u207.MuseMenuActive,#u247:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u247.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u250-4
{
	width: 88px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u207.MuseMenuActive #u209-4,#u247:hover #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u247.MuseMenuActive #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	z-index: 103;
	width: 208px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u750-4
{
	z-index: 30;
	width: 944px;
	min-height: 19px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	margin-left: 27px;
	margin-top: 31px;
	position: relative;
	border-width: 0px 0px 5px;
}

#ppu696
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 20px;
}

#pu696
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 248px;
}

#u696
{
	z-index: 2;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u780
{
	z-index: 12;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u741-4
{
	z-index: 18;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u790-4
{
	z-index: 38;
	width: 70px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#pu728
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 743px;
}

#u728
{
	z-index: 8;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u747-4
{
	z-index: 26;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u796-4
{
	z-index: 46;
	width: 69px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u706
{
	z-index: 4;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u716
{
	z-index: 6;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u770
{
	z-index: 10;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u738-4
{
	z-index: 14;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u744-4
{
	z-index: 22;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u741-4:hover,#u747-4:hover,#u738-4:hover,#u744-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 201px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u741-2,#u747-2,#u738-2,#u744-2
{
	padding-top: 90px;
}

#u787-4
{
	z-index: 34;
	width: 70px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u793-4
{
	z-index: 42;
	width: 69px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 495px;
	-pie-background: rgba(0,0,0,0.4);
}

#u317
{
	z-index: 50;
	width: 998px;
	padding-bottom: 16px;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#pu364-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 19px;
}

#u364-4
{
	z-index: 68;
	width: 156px;
	min-height: 16px;
	position: relative;
}

#u320-17
{
	z-index: 51;
	width: 156px;
	min-height: 85px;
	margin-top: 5px;
	position: relative;
}

#pu373
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 58px;
	margin-left: 363px;
}

#u373
{
	z-index: 76;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u383
{
	z-index: 78;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u386
{
	z-index: 79;
	width: 54px;
	height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 218px;
}

#u389
{
	z-index: 80;
	width: 272px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
}

.ie #u271,.ie #u389
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u370-4
{
	z-index: 72;
	width: 213px;
	min-height: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 766px;
}

.html
{
	background: #FFFFFF url("../images/webbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

