/*

*/

.version.releases /* version checker */
{
	color: #00000C;
	background-color: #7700CB;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 499.64999999999986px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -25px;
	width: 0.01px;/* should not cover content below */
}

#u809
{
	z-index: 95;
	width: 50px;
	min-height: 25px;
	margin-left: 1100px;
	position: relative;
}

#u94
{
	z-index: 60;
	height: 62px;
	position: fixed;
	top: 0px;
}

#u94-bw
{
	z-index: 60;
}

#u271
{
	z-index: 94;
	width: 204px;
	height: 62px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -496px;
}

.ie #u271
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu158
{
	z-index: 63;
	width: 439px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 41px;
}

#u159
{
	width: 86px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
}

#u160
{
	width: 86px;
	padding-bottom: 45px;
	position: relative;
}

#u160:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 86px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 86px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u207
{
	width: 86px;
	padding-bottom: 45px;
	position: relative;
}

#u160.MuseMenuActive,#u207:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u209-4
{
	width: 86px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u160.MuseMenuActive #u162-4,#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 86px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u247
{
	width: 86px;
	padding-bottom: 45px;
	position: relative;
}

#u207.MuseMenuActive,#u247:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u250-4
{
	width: 86px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u207.MuseMenuActive #u209-4,#u247:hover #u250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u880
{
	width: 86px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u881
{
	width: 86px;
	padding-bottom: 45px;
	position: relative;
}

#u247.MuseMenuActive,#u881:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u881.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u882-4
{
	width: 86px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u247.MuseMenuActive #u250-4,#u881:hover #u882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u881.MuseMenuActive #u882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u922
{
	width: 87px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 352px;
}

#u925
{
	width: 87px;
	padding-bottom: 45px;
	position: relative;
}

#u925:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u925.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u926-4
{
	width: 87px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u925:hover #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u925.MuseMenuActive #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u97
{
	z-index: 61;
	width: 204px;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -496px;
}

#u750-4
{
	z-index: 30;
	width: 944px;
	min-height: 19px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	margin-left: 28px;
	margin-top: 93px;
	position: relative;
	border-width: 0px 0px 5px;
}

#pu1070
{
	width: 0.01px;
	margin-left: 771px;
	margin-top: 35px;
}

#u1070
{
	z-index: 50;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1074-4
{
	z-index: 52;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1075-4
{
	z-index: 56;
	width: 70px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#ppu696
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 40px;
}

#pu696
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 248px;
}

#u696
{
	z-index: 2;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u780
{
	z-index: 12;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u741-4
{
	z-index: 18;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u790-4
{
	z-index: 38;
	width: 70px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#pu728
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 743px;
}

#u728
{
	z-index: 8;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u747-4
{
	z-index: 26;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u796-4
{
	z-index: 46;
	width: 69px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u706
{
	z-index: 4;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u716
{
	z-index: 6;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u770
{
	z-index: 10;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u738-4
{
	z-index: 14;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u744-4
{
	z-index: 22;
	width: 201px;
	min-height: 201px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u1074-4:hover,#u741-4:hover,#u747-4:hover,#u738-4:hover,#u744-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 201px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u1074-2,#u741-2,#u747-2,#u738-2,#u744-2
{
	padding-top: 90px;
}

#u787-4
{
	z-index: 34;
	width: 70px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u793-4
{
	z-index: 42;
	width: 69px;
	min-height: 20px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 495px;
	-pie-background: rgba(0,0,0,0.4);
}

#u943
{
	z-index: 96;
	min-height: 107px;
	padding-bottom: 7px;
}

#u943_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
}

#pu952-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 120px;
}

#u952-4
{
	z-index: 116;
	width: 171px;
	min-height: 21px;
	position: relative;
}

#u955
{
	z-index: 120;
	width: 1px;
	height: 5px;
	margin-left: 86px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u946-11
{
	z-index: 97;
	width: 86px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
}

#u949-8
{
	z-index: 108;
	width: 74px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#pu962-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 336px;
}

#u962-4
{
	z-index: 127;
	width: 183px;
	min-height: 21px;
	position: relative;
}

#u970
{
	z-index: 153;
	width: 1px;
	height: 5px;
	margin-left: 86px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u968-11
{
	z-index: 131;
	width: 86px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
}

#u969-11
{
	z-index: 142;
	width: 90px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1049
{
	z-index: 154;
	width: 58px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 93px;
}

#ppu1060
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 685px;
}

#pu946-11,#pu968-11,#pu1060
{
	width: 0.01px;
}

#u1060
{
	z-index: 155;
	width: 395px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1067-4
{
	z-index: 156;
	width: 97px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u958-6
{
	z-index: 121;
	width: 194px;
	min-height: 13px;
	margin-left: 201px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u943-bw
{
	z-index: 96;
	min-height: 107px;
	margin-top: 15px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1000px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

