/*

*/

.version.release_ava___serene /* version checker */
{
	color: #000002;
	background-color: #7BA35E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 36;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 38;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 40;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu571
{
	z-index: 41;
	width: 625px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -170px;
}

#u579
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
}

#u580
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u580:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u581-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u575
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u575:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u577-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u588
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u588:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u595
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u595:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u596-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u602
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u602:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u604-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1528
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u1529
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u1529:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u595.MuseMenuActive,#u602.MuseMenuActive,#u1529.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u612
{
	z-index: 78;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u7797
{
	z-index: 107;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -194px;
}

#u7800
{
	z-index: 108;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#u8339
{
	z-index: 6;
	width: 296px;
	border-style: solid;
	border-width: 2px;
	border-color: #1ECAB4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8339_img
{
	margin: -2px;
}

#pu8343-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u8343-4
{
	z-index: 13;
	width: 610px;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#pu8347
{
	width: 0.01px;
}

#u8347
{
	z-index: 29;
	width: 593px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u8348-6
{
	z-index: 30;
	width: 610px;
	min-height: 41px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u8342-4
{
	z-index: 9;
	width: 342px;
	min-height: 35px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #1ECAB4;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 134px;
	margin-top: 65px;
	position: relative;
}

#u8342-4:hover
{
	background-color: #23EFD4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 342px;
	margin: 65px 0px 0px 134px;
}

#u8344-4
{
	z-index: 17;
	width: 342px;
	min-height: 35px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #1ECAB4;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 134px;
	margin-top: 15px;
	position: relative;
}

#u8345-4
{
	z-index: 21;
	width: 342px;
	min-height: 35px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #1ECAB4;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 134px;
	margin-top: 15px;
	position: relative;
}

#u8344-4:hover,#u8345-4:hover
{
	background-color: #23EFD4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 342px;
	margin: 15px 0px 0px 134px;
}

#pu8339,#pu8338
{
	width: 0.01px;
	margin-left: 20px;
}

#u8338
{
	z-index: 5;
	width: 300px;
	height: 35px;
	background-color: #1ECAB4;
	position: relative;
	margin-right: -10000px;
}

#u8341
{
	z-index: 8;
	width: 300px;
	min-height: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8346-4
{
	z-index: 25;
	width: 342px;
	min-height: 35px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #1ECAB4;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u8346-4:hover
{
	background-color: #23EFD4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#u8342-2,#u8344-2,#u8345-2,#u8346-2
{
	padding-top: 3px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 46px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 37;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 79;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 99;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 83;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

