/*

*/

.version.releases /* version checker */
{
	color: #00001A;
	background-color: #DB7F03;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 56;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 58;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 60;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu571
{
	z-index: 61;
	width: 625px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -170px;
}

#u579
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
}

#u580
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u580:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u581-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u575
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u575:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u577-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u588
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u588:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u595
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u595:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u596-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u602
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u602:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u604-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1528
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u1529
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u1529:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u595.MuseMenuActive,#u602.MuseMenuActive,#u1529.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u612
{
	z-index: 98;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u7797
{
	z-index: 127;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -194px;
}

#u7800
{
	z-index: 128;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#u1518-4
{
	z-index: 52;
	width: 910px;
	min-height: 25px;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#pu1512
{
	width: 0.01px;
	margin-left: 265px;
	margin-top: 13px;
}

#u1512
{
	z-index: 5;
	width: 420px;
	height: 361px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#slideshowu1437
{
	z-index: 6;
	width: 0.01px;
	height: 527px;
	position: relative;
	margin-right: -10000px;
}

#u1440
{
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: transparent;
	left: 30px;
}

#u1440popup
{
	z-index: 7;
}

#u1445
{
	z-index: 8;
	width: 360px;
	height: 360px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1491
{
	z-index: 10;
	width: 360px;
	height: 360px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1448
{
	position: absolute;
	width: 420px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 95px;
	top: 372px;
}

#u1448popup
{
	z-index: 12;
}

#u1449
{
	z-index: 13;
	width: 60px;
	height: 60px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u1449:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #6B6B6B;
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1494
{
	z-index: 15;
	width: 60px;
	height: 60px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u1494:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #6B6B6B;
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1449.SSSlideLinkSelected,#u1494.SSSlideLinkSelected
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 60px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1455
{
	position: absolute;
	width: 360px;
	background-color: transparent;
	top: 319px;
	left: 30px;
}

#u1455popup
{
	z-index: 17;
}

#u1456-4
{
	z-index: 18;
	width: 340px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0,0,0,0.71);
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.71);
}

#u1497-4
{
	z-index: 22;
	width: 340px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0,0,0,0.71);
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.71);
}

#u1461-12
{
	position: absolute;
	width: 10px;
	min-height: 340px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1461-12popup
{
	z-index: 26;
}

#u1461-9
{
	color: #999999;
}

#u1438-14
{
	position: absolute;
	width: 10px;
	min-height: 340px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 390px;
}

#u1438-14popup
{
	z-index: 38;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 3px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 57;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 99;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 119;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 103;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

