/*

*/

.version.seal_of_vitality_tee /* version checker */
{
	color: #0000F4;
	background-color: #9738F0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 56;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 58;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 60;
	width: 283px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u612
{
	z-index: 61;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#menuu10621
{
	z-index: 91;
	width: 625px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -170px;
}

#u10622
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u10623
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10625-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623:hover #u10625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10629
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u10632
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623.MuseMenuActive,#u10632:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10633-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623.MuseMenuActive #u10625-4,#u10632:hover #u10633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10666
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u10669
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10632.MuseMenuActive,#u10669:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10669.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10671-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10632.MuseMenuActive #u10633-4,#u10669:hover #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10669.MuseMenuActive #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10687
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u10688
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10689-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688:hover #u10689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10708
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u10709
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688.MuseMenuActive,#u10709:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10712-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688.MuseMenuActive #u10689-4,#u10709:hover #u10712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10729
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u10730
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10709.MuseMenuActive,#u10730:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10730.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10732-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10709.MuseMenuActive #u10712-4,#u10730:hover #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10730.MuseMenuActive #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#pu11998
{
	width: 0.01px;
	margin-left: 100px;
}

#u11998
{
	z-index: 55;
	width: 259px;
	min-height: 263px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1696-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 259px;
}

#u1696-4
{
	z-index: 5;
	width: 533px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#u1697-13
{
	z-index: 9;
	width: 520px;
	min-height: 155px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1697-2
{
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u1697-4
{
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u1697-6,#u1697-8
{
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#pu1698
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 9px;
}

#u1698
{
	z-index: 22;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1700
{
	z-index: 23;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1699-4
{
	z-index: 24;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1701
{
	z-index: 28;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1703
{
	z-index: 29;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1700:hover,#u1703:hover
{
	background-color: #21E0C6;
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1702-4
{
	z-index: 30;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u9407
{
	z-index: 90;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 884px;
}

#u6156
{
	z-index: 40;
	width: 518px;
	-pie-box-shadow: 0px 3px 0px #000000;
	box-shadow: 0px 3px 0px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	border-radius: 10px;
	padding-bottom: 2px;
	margin-left: 371px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u6167-4
{
	z-index: 51;
	width: 107px;
	min-height: 12px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 9px;
}

#u6157
{
	z-index: 41;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 116px;
}

#u6159
{
	z-index: 43;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 179px;
}

#u6161
{
	z-index: 45;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 241px;
}

#u6163
{
	z-index: 47;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 304px;
}

#u6165
{
	z-index: 49;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 367px;
}

#u1715
{
	z-index: 34;
	width: 201px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 18px;
	position: relative;
}

#u1706
{
	z-index: 35;
	width: 41px;
	height: 41px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	border-radius: 43px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/backarrow.png") no-repeat center center;
}

#u1714-4
{
	z-index: 36;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u5942
{
	z-index: 128;
	width: 176px;
	margin-left: 754px;
	top: -36px;
	margin-bottom: -36px;
	position: relative;
}

#u4985
{
	z-index: 129;
	width: 176px;
	position: relative;
	margin-right: -10000px;
}

#u4972-4
{
	z-index: 130;
	width: 129px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u4975
{
	z-index: 134;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u4975.MuseLinkActive
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5939
{
	z-index: 136;
	width: 176px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
}

#u5939:hover
{
	width: 176px;
	height: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 4px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 57;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 62;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 82;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 66;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

