/*

*/

.version.shop /* version checker */
{
	color: #0000F1;
	background-color: #EA3496;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu612
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u612
{
	z-index: 60;
	width: 950px;
	height: 13px;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u543
{
	z-index: 18;
	width: 950px;
	height: 75px;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#menuu571
{
	z-index: 23;
	width: 625px;
	top: 33px;
	left: 50%;
	margin-left: -170px;
}

#u579
{
	width: 102px;
	min-height: 46px;
	margin-right: -10000px;
}

#u580
{
	width: 102px;
	padding-bottom: 29px;
}

#u580:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u581-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	width: 102px;
	min-height: 46px;
	margin-right: -10000px;
	left: 104px;
}

#u575
{
	width: 102px;
	padding-bottom: 29px;
}

#u575:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u577-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u587
{
	width: 102px;
	min-height: 46px;
	margin-right: -10000px;
	left: 208px;
}

#u588
{
	width: 102px;
	padding-bottom: 29px;
}

#u588:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	width: 103px;
	min-height: 46px;
	margin-right: -10000px;
	left: 312px;
}

#u595
{
	width: 103px;
	padding-bottom: 29px;
}

#u595:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u596-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 103px;
	min-height: 46px;
	margin-right: -10000px;
	left: 417px;
}

#u602
{
	width: 103px;
	padding-bottom: 29px;
}

#u602:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u604-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1528
{
	width: 103px;
	min-height: 46px;
	margin-right: -10000px;
	left: 522px;
}

#u1529
{
	width: 103px;
	padding-bottom: 29px;
}

#u1529:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u595.MuseMenuActive,#u602.MuseMenuActive,#u1529.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u1531-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u551
{
	z-index: 20;
	width: 207px;
	top: 41px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 22;
	width: 910px;
	height: 5px;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u1605-4
{
	z-index: 5;
	width: 686px;
	min-height: 29px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 132px;
	margin-top: 9px;
	position: relative;
	border-width: 0px 0px 2px;
}

#ppu1621
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 26px;
}

#pu1621
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 240px;
}

#u1621
{
	z-index: 12;
	width: 206px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1633
{
	z-index: 16;
	width: 206px;
	min-height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1608
{
	z-index: 9;
	width: 206px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1614
{
	z-index: 11;
	width: 206px;
	min-height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1624
{
	z-index: 14;
	width: 206px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 478px;
}

#u1634
{
	z-index: 17;
	width: 206px;
	min-height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 109px;
}

#u952
{
	z-index: 2;
	width: 349px;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 19;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
}

#u616-4
{
	z-index: 61;
	width: 257px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 79;
	width: 202px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-14
{
	z-index: 65;
	width: 287px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

