/*

*/

.version.shop /* version checker */
{
	color: #0000E1;
	background-color: #A43C4F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#pu543
{
	padding-bottom: 98px;
	margin-right: -10000px;
	margin-top: -36px;
	width: 100%;
}

#u543
{
	height: 75px;
	position: relative;
	left: -50%;
	margin-left: 475px;
	width: 100%;
	max-width: 950px;
}

#u543-wrapper
{
	position: fixed;
	top: 13px;
	z-index: 18;
	left: 50%;
	margin-left: -475px;
	width: 100%;
	max-width: 950px;
}

#u551
{
	position: relative;
	left: -50%;
	margin-left: 103.3963414634146px;
	width: 100%;
	max-width: 207px;
}

#u551-wrapper
{
	position: fixed;
	top: 41px;
	z-index: 20;
	left: 50%;
	margin-left: -455px;
	width: 21.79%;
	max-width: 207px;
}

#u557
{
	height: 5px;
	position: relative;
	left: -50%;
	margin-left: 455px;
	width: 100%;
	max-width: 910px;
}

#u557-wrapper
{
	position: fixed;
	top: 79px;
	z-index: 22;
	left: 50%;
	margin-left: -455px;
	width: 95.79%;
	max-width: 910px;
}

#u612
{
	height: 13px;
	position: relative;
	left: -50%;
	margin-left: 475px;
	width: 100%;
	max-width: 950px;
}

#u612-wrapper
{
	position: fixed;
	top: 0px;
	z-index: 60;
	left: 50%;
	margin-left: -475px;
	width: 100%;
	max-width: 950px;
}

#pu1605-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 71px;
	margin-left: 132px;
}

#u1605-4
{
	z-index: 5;
	width: 686px;
	min-height: 29px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	border-width: 0px 0px 2px;
}

#pu1608
{
	width: 0.01px;
	margin-top: 26px;
}

#u1608
{
	z-index: 9;
	width: 206px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1614
{
	z-index: 11;
	width: 206px;
	min-height: 206px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#menuu571
{
	position: relative;
	left: -50%;
	margin-left: 312.5px;
	width: 100%;
	max-width: 625px;
}

#u579
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.32%;
}

#u580
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u580:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u581-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u572
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.32%;
	left: 16.64%;
}

#u575
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u580.MuseMenuActive,#u575:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u577-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u587
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.32%;
	left: 33.28%;
}

#u588
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u575.MuseMenuActive,#u588:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u590-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u594
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.48%;
	left: 49.92%;
}

#u595
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u588.MuseMenuActive,#u595:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u596-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u588.MuseMenuActive #u590-4,#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u601
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.48%;
	left: 66.72%;
}

#u602
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u595.MuseMenuActive,#u602:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u604-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1528
{
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	width: 16.48%;
	left: 83.53%;
}

#u1529
{
	padding-bottom: 29px;
	position: relative;
	width: 100%;
}

#u602.MuseMenuActive,#u1529:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1529.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1531-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	width: 100%;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1529.MuseMenuActive #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#menuu571-wrapper
{
	position: fixed;
	top: 33px;
	z-index: 23;
	left: 50%;
	margin-left: -170px;
	width: 65.79%;
	max-width: 625px;
}

#pu1621
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 128px;
	margin-left: 372px;
}

#u1621
{
	z-index: 12;
	width: 206px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1633
{
	z-index: 16;
	width: 206px;
	min-height: 206px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1624
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 128px;
	margin-left: 612px;
}

#u1624
{
	z-index: 14;
	width: 206px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1634
{
	z-index: 17;
	width: 206px;
	min-height: 206px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#ppu952
{
	margin-right: -10000px;
	margin-top: 3px;
	width: 100%;
}

#pu952
{
	width: 36.74%;
	margin-left: 31.58%;
}

#u952
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1004
{
	z-index: 4;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 19;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
	width: 100%;
}

#u616-4
{
	z-index: 61;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 27.06%;
	left: 2.11%;
}

#u1317-8
{
	z-index: 81;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 21.27%;
	left: 39.37%;
}

#u617-16
{
	z-index: 65;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 30.22%;
	left: 67.69%;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

.verticalspacer
{
	min-height: 106px;
}

#u551_img,#u952_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

