/*

*/

.version.text_hoodie /* version checker */
{
	color: #0000E4;
	background-color: #6E34BF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 60;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 62;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 64;
	width: 283px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u612
{
	z-index: 65;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#menuu10621
{
	z-index: 95;
	width: 625px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -170px;
}

#u10622
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u10623
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10625-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623:hover #u10625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10629
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u10632
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623.MuseMenuActive,#u10632:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10633-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623.MuseMenuActive #u10625-4,#u10632:hover #u10633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10666
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u10669
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10632.MuseMenuActive,#u10669:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10669.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10671-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10632.MuseMenuActive #u10633-4,#u10669:hover #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10669.MuseMenuActive #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10687
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u10688
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10689-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688:hover #u10689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10708
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u10709
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688.MuseMenuActive,#u10709:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10712-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688.MuseMenuActive #u10689-4,#u10709:hover #u10712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10729
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u10730
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10709.MuseMenuActive,#u10730:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10730.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10732-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10709.MuseMenuActive #u10712-4,#u10730:hover #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10730.MuseMenuActive #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#pu11978
{
	width: 0.01px;
	margin-left: 100px;
}

#u11978
{
	z-index: 59;
	width: 259px;
	min-height: 263px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1672-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 259px;
}

#u1672-4
{
	z-index: 5;
	width: 533px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#u1673-17
{
	z-index: 9;
	width: 520px;
	min-height: 155px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1673-2
{
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u1673-4
{
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u1673-6,#u1673-9,#u1673-12
{
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#pu1678
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 9px;
}

#u1678
{
	z-index: 26;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1674
{
	z-index: 27;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1676-4
{
	z-index: 28;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1679
{
	z-index: 32;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1675
{
	z-index: 33;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1674:hover,#u1675:hover
{
	background-color: #21E0C6;
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1677-4
{
	z-index: 34;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u9407
{
	z-index: 94;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 883px;
}

#u6037
{
	z-index: 44;
	width: 518px;
	-pie-box-shadow: 0px 3px 0px #000000;
	box-shadow: 0px 3px 0px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	border-radius: 10px;
	padding-bottom: 2px;
	margin-left: 372px;
	position: relative;
}

#u6110-4
{
	z-index: 55;
	width: 107px;
	min-height: 12px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 9px;
}

#u6058
{
	z-index: 45;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 116px;
}

#u6068
{
	z-index: 47;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 179px;
}

#u6078
{
	z-index: 49;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 241px;
}

#u6088
{
	z-index: 51;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 304px;
}

#u6098
{
	z-index: 53;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 367px;
}

#u1722
{
	z-index: 38;
	width: 201px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 87px;
	position: relative;
}

#u1724
{
	z-index: 39;
	width: 41px;
	height: 41px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	border-radius: 43px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/backarrow.png") no-repeat center center;
}

#u1723-4
{
	z-index: 40;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u5942
{
	z-index: 132;
	width: 176px;
	margin-left: 754px;
	top: -53px;
	margin-bottom: -52px;
	position: relative;
}

#u4985
{
	z-index: 133;
	width: 176px;
	position: relative;
	margin-right: -10000px;
}

#u4972-4
{
	z-index: 134;
	width: 129px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u4975
{
	z-index: 138;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u4975.MuseLinkActive
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5939
{
	z-index: 140;
	width: 176px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
}

#u5939:hover
{
	width: 176px;
	height: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 3px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 61;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 66;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 86;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 70;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

