/*

*/

.version.vis003 /* version checker */
{
	color: #0000E1;
	background-color: #D9DE25;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
	margin-right: -10000px;
	margin-top: -36px;
}

#u543
{
	z-index: 22;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 24;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 26;
	width: 283px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#u612
{
	z-index: 27;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#menuu10621
{
	z-index: 57;
	width: 625px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -170px;
}

#u10622
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u10623
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10625-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623:hover #u10625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10629
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u10632
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10623.MuseMenuActive,#u10632:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10633-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10623.MuseMenuActive #u10625-4,#u10632:hover #u10633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10666
{
	width: 102px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u10669
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u10632.MuseMenuActive,#u10669:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10669.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u10671-4
{
	width: 102px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10632.MuseMenuActive #u10633-4,#u10669:hover #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10669.MuseMenuActive #u10671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u10687
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u10688
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10689-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688:hover #u10689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10708
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u10709
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10688.MuseMenuActive,#u10709:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10712-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10688.MuseMenuActive #u10689-4,#u10709:hover #u10712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10729
{
	width: 103px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u10730
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u10709.MuseMenuActive,#u10730:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10730.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u10732-4
{
	width: 103px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u10709.MuseMenuActive #u10712-4,#u10730:hover #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u10730.MuseMenuActive #u10732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#pu9746
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 20px;
}

#u9746
{
	z-index: 21;
	width: 300px;
	min-height: 304px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9745
{
	z-index: 20;
	width: 300px;
	min-height: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pu9741-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 320px;
}

#u9741-4
{
	z-index: 5;
	width: 610px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#pu9742
{
	width: 0.01px;
}

#u9742
{
	z-index: 9;
	width: 593px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u9743-6
{
	z-index: 10;
	width: 610px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u9744-4
{
	z-index: 16;
	width: 273px;
	min-height: 60px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #1ECAB4;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 600;
	margin-left: 168px;
	margin-top: 192px;
	position: relative;
}

#u9744-4:hover
{
	background-color: #23EFD4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 273px;
	margin: 192px 0px 0px 168px;
}

#u9744-2
{
	padding-top: 14px;
}

#u9407
{
	z-index: 56;
	width: 50px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 983px;
}

#ppu952
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1004
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 23;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 28;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u1317-8
{
	z-index: 48;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u617-16
{
	z-index: 32;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

.verticalspacer
{
	min-height: 38px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


