/*

*/

.version.vitality_records_cdj_and_vinyl_tee /* version checker */
{
	color: #000000;
	background-color: #794D5A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u4889
{
	z-index: 99;
	width: 950px;
	height: 13px;
	position: relative;
}

#u4886
{
	z-index: 57;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#pu4884
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#u4884
{
	z-index: 59;
	width: 207px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#menuu4840
{
	z-index: 62;
	width: 625px;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u4848
{
	width: 102px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
}

#u4849
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u4849:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u4852-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4849:hover #u4852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4841
{
	width: 102px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u4842
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u4849.MuseMenuActive,#u4842:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u4845-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4849.MuseMenuActive #u4852-4,#u4842:hover #u4845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4855
{
	width: 102px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u4856
{
	width: 102px;
	padding-bottom: 29px;
	position: relative;
}

#u4842.MuseMenuActive,#u4856:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u4856.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u4859-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4842.MuseMenuActive #u4845-4,#u4856:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4856.MuseMenuActive #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u4862
{
	width: 103px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u4863
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u4863:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u4865-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4863:hover #u4865-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u4876
{
	width: 103px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u4879
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u4863.MuseMenuActive,#u4879:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u4881-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4863.MuseMenuActive #u4865-4,#u4879:hover #u4881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u4869
{
	width: 103px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u4870
{
	width: 103px;
	padding-bottom: 29px;
	position: relative;
}

#u4879.MuseMenuActive,#u4870:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u4870.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u4872-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4879.MuseMenuActive #u4881-4,#u4870:hover #u4872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u4870.MuseMenuActive #u4872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u4883
{
	z-index: 61;
	width: 910px;
	height: 5px;
	margin-left: 20px;
	position: relative;
}

#pu1681
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 14px;
}

#u1681
{
	z-index: 5;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1683-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u1683-4
{
	z-index: 7;
	width: 533px;
	min-height: 22px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#u1684-13
{
	z-index: 11;
	width: 520px;
	min-height: 155px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1684-2
{
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u1684-4
{
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u1684-6,#u1684-8
{
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#pu1685
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 9px;
}

#u1685
{
	z-index: 24;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1687
{
	z-index: 25;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1686-4
{
	z-index: 26;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1688
{
	z-index: 30;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1689
{
	z-index: 31;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1687:hover,#u1689:hover
{
	background-color: #21E0C6;
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1690-4
{
	z-index: 32;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u6114
{
	z-index: 42;
	width: 518px;
	-pie-box-shadow: 0px 3px 0px #000000;
	box-shadow: 0px 3px 0px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	border-radius: 10px;
	padding-bottom: 2px;
	margin-left: 13px;
	margin-top: 22px;
	position: relative;
}

#u6125-4
{
	z-index: 53;
	width: 107px;
	min-height: 12px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 9px;
}

#u6115
{
	z-index: 43;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 116px;
}

#u6117
{
	z-index: 45;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 179px;
}

#u6119
{
	z-index: 47;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 241px;
}

#u6121
{
	z-index: 49;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 304px;
}

#u6123
{
	z-index: 51;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 367px;
}

#pu1718
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 19px;
}

#u1718
{
	z-index: 36;
	width: 201px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1720
{
	z-index: 37;
	width: 41px;
	height: 41px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	border-radius: 43px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/backarrow.png") no-repeat center center;
}

#u1719-4
{
	z-index: 38;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u5942
{
	z-index: 128;
	width: 176px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 695px;
}

#u4985
{
	z-index: 129;
	width: 176px;
	position: relative;
	margin-right: -10000px;
}

#u4972-4
{
	z-index: 130;
	width: 129px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u4975
{
	z-index: 134;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u4975.MuseLinkActive
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5939
{
	z-index: 136;
	width: 176px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
}

#u5939:hover
{
	width: 176px;
	height: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu4836
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 2px;
}

#u4836
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u4838
{
	z-index: 4;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u4838
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4891
{
	z-index: 58;
	width: 950px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#u4888-4
{
	z-index: 100;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u4890-8
{
	z-index: 120;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u4887-16
{
	z-index: 104;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #FFFFFF url("../images/webbg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

