/*

*/

.version.vitality_records_seal_of_vitality_tee /* version checker */
{
	color: #0000E7;
	background-color: #138A0F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 531px;
	-pie-box-shadow: 0px 0px 70px #000000;
	box-shadow: 0px 0px 70px #000000;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pu543
{
	width: 0.01px;
	padding-bottom: 98px;
}

#u543
{
	z-index: 60;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u551
{
	z-index: 62;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u557
{
	z-index: 64;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu571
{
	z-index: 65;
	width: 625px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -170px;
}

#u580
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u580:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u581-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u575
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u575:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u577-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u580.MuseMenuActive #u581-4,#u575:hover #u577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u588
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u588:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u590-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u575.MuseMenuActive #u577-4,#u588:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u595
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u595:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u596-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u602
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u602:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u604-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u595.MuseMenuActive #u596-4,#u602:hover #u604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1529
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u1529:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u1531-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u602.MuseMenuActive #u604-4,#u1529:hover #u1531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u612
{
	z-index: 102;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u7797
{
	z-index: 131;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -194px;
}

#u7800
{
	z-index: 132;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#u8089
{
	z-index: 171;
	width: 950px;
	height: 75px;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -475px;
}

#u8090
{
	z-index: 172;
	width: 158px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -455px;
}

#u8092
{
	z-index: 174;
	width: 285px;
	height: 5px;
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -455px;
}

#menuu8093
{
	z-index: 175;
	width: 625px;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -170px;
}

#u579,#u8115
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
}

#u8116
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u8116:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u8117-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u588.MuseMenuActive #u590-4,#u8116:hover #u8117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u572,#u8129
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u8132
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u8132:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u8134-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u8116.MuseMenuActive #u8117-4,#u8132:hover #u8134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u587,#u8122
{
	width: 102px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u8123
{
	width: 102px;
	padding-bottom: 26px;
	position: relative;
}

#u8123:hover
{
	width: 102px;
	min-height: 0px;
	margin: -5px 0px;
}

#u580.MuseMenuActive,#u575.MuseMenuActive,#u588.MuseMenuActive,#u8116.MuseMenuActive,#u8132.MuseMenuActive,#u8123.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u8125-4
{
	width: 102px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u8132.MuseMenuActive #u8134-4,#u8123:hover #u8125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u8123.MuseMenuActive #u8125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u594,#u8108
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u8109
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u8109:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u8110-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u1529.MuseMenuActive #u1531-4,#u8109:hover #u8110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u601,#u8094
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u8097
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u8097:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u8100-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u8109.MuseMenuActive #u8110-4,#u8097:hover #u8100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1528,#u8101
{
	width: 103px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u8102
{
	width: 103px;
	padding-bottom: 26px;
	position: relative;
}

#u8102:hover
{
	width: 103px;
	min-height: 0px;
	margin: -5px 0px;
}

#u595.MuseMenuActive,#u602.MuseMenuActive,#u1529.MuseMenuActive,#u8109.MuseMenuActive,#u8097.MuseMenuActive,#u8102.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u8103-4
{
	width: 103px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u8097.MuseMenuActive #u8100-4,#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u8102.MuseMenuActive #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u8136
{
	z-index: 212;
	width: 950px;
	height: 13px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
}

#u8137
{
	z-index: 213;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: -194px;
}

#u8138
{
	z-index: 214;
	width: 53px;
	height: 5px;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 426px;
}

#pu1694
{
	width: 0.01px;
	margin-left: 59px;
}

#u1694
{
	z-index: 8;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1696-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u1696-4
{
	z-index: 10;
	width: 533px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
}

#u1697-13
{
	z-index: 14;
	width: 520px;
	min-height: 155px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1697-2
{
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u1697-4
{
	font-family: '__Montserrat_5';
	font-weight: 700;
}

#u1697-6,#u1697-8
{
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#pu1698
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 9px;
}

#u1698
{
	z-index: 27;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1700
{
	z-index: 28;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1699-4
{
	z-index: 29;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1701
{
	z-index: 33;
	width: 234px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u1703
{
	z-index: 34;
	width: 234px;
	-pie-box-shadow: 0px 3px 0px #179E8C;
	box-shadow: 0px 3px 0px #179E8C;
	background-color: #1ECAB4;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1700:hover,#u1703:hover
{
	background-color: #21E0C6;
	width: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1702-4
{
	z-index: 35;
	width: 234px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u6156
{
	z-index: 45;
	width: 518px;
	-pie-box-shadow: 0px 3px 0px #000000;
	box-shadow: 0px 3px 0px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	border-radius: 10px;
	padding-bottom: 2px;
	margin-left: 13px;
	margin-top: 22px;
	position: relative;
}

#u6167-4
{
	z-index: 56;
	width: 107px;
	min-height: 12px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Montserrat_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 9px;
}

#u6157
{
	z-index: 46;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 116px;
}

#u6159
{
	z-index: 48;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 179px;
}

#u6161
{
	z-index: 50;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 241px;
}

#u6163
{
	z-index: 52;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 304px;
}

#u6165
{
	z-index: 54;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 367px;
}

#u1715
{
	z-index: 39;
	width: 201px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 18px;
	position: relative;
}

#u1706
{
	z-index: 40;
	width: 41px;
	height: 41px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	border-radius: 43px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/backarrow.png") no-repeat center center;
}

#u1714-4
{
	z-index: 41;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u5942
{
	z-index: 162;
	width: 176px;
	margin-left: 754px;
	top: -36px;
	margin-bottom: -36px;
	position: relative;
}

#u4985
{
	z-index: 163;
	width: 176px;
	position: relative;
	margin-right: -10000px;
}

#u4972-4
{
	z-index: 164;
	width: 129px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u4975
{
	z-index: 168;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u4975.MuseLinkActive
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5939
{
	z-index: 170;
	width: 176px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
}

#u5939:hover
{
	width: 176px;
	height: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu952
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 4px;
}

#u952
{
	z-index: 2;
	width: 349px;
	position: relative;
	margin-right: -10000px;
}

#u1004
{
	z-index: 4;
	width: 349px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u4836
{
	z-index: 5;
	width: 349px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
}

#u4838
{
	z-index: 7;
	width: 349px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
}

.ie #u4838
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u550
{
	z-index: 61;
	width: 950px;
	padding-bottom: 2px;
	margin-top: 13px;
	position: relative;
}

#u616-4
{
	z-index: 103;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u617-16
{
	z-index: 107;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

#u1317-8
{
	z-index: 123;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u4891
{
	z-index: 133;
	width: 950px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
}

#u4888-4
{
	z-index: 134;
	width: 257px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u4890-8
{
	z-index: 154;
	width: 202px;
	min-height: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 374px;
}

#u4887-16
{
	z-index: 138;
	width: 287px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 643px;
}

.html
{
	background: #030303 url("../images/webbg.jpg") repeat left center fixed;
}

body
{
	position: relative;
	min-width: 950px;
	padding-top: 36px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-bold.eot');
	src: local('☺'), url('../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

