/*

*/

.version.contact /* version checker */
{
	color: #000014;
	background-color: #E29840;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #000000 url("../../images/webbg.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#pu1144
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1144
{
	z-index: 2;
	min-height: 51px;
	padding-bottom: 20px;
}

#u1158
{
	z-index: 31;
	width: 207px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 87px;
}

#u1144-bw
{
	z-index: 2;
	min-height: 51px;
}

#u1278-23
{
	z-index: 8;
	width: 339px;
	min-height: 274px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 21px;
}

#u1278-3,#u1278-6,#u1278-9,#u1278-12,#u1278-15,#u1278-16
{
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 800;
}

#u1278-17
{
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 600;
}

#u1278-21
{
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 600;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1278-18
{
	font-size: 18px;
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 400;
	line-height: 22px;
}

#u1278-19
{
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	line-height: 22px;
}

#accordionu1161wrapper
{
	min-height: 263px;
	z-index: 33;
	margin-right: -10000px;
}

#u1162
{
	z-index: 34;
}

#u1172-3
{
	z-index: 35;
	min-height: 51px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1172-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1172-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u1163
{
	z-index: 38;
	padding-bottom: 7px;
}

#menuu1164
{
	z-index: 39;
	min-height: 178px;
}

#u1168
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1168:active
{
	min-height: 17px;
	margin: 0px;
}

#u1169-4
{
	min-height: 17px;
	top: 20px;
}

#u1168:active #u1169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1203
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1168.MuseMenuActive,#u1203:active
{
	min-height: 17px;
	margin: 0px;
}

#u1206-4
{
	min-height: 17px;
	top: 20px;
}

#u1168.MuseMenuActive #u1169-4,#u1203:active #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1208
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1203.MuseMenuActive,#u1208:active
{
	min-height: 17px;
	margin: 0px;
}

#u1208.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u1211-4
{
	min-height: 17px;
	top: 20px;
}

#u1203.MuseMenuActive #u1206-4,#u1208:active #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1208.MuseMenuActive #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1200,#u1207
{
	margin-top: 2px;
}

#menuu1164-bw
{
	z-index: 39;
	min-height: 178px;
	margin-top: 7px;
}

#accordionu1161,#accordionu1161-bw
{
	z-index: 33;
}

#pu1145
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 499px;
}

#u1145,#u1145-bw
{
	z-index: 3;
	height: 71px;
}

#u1146-4
{
	z-index: 4;
	min-height: 12px;
}

#u1146-4-bw
{
	z-index: 4;
	min-height: 12px;
	margin-top: 27px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../../fonts/montserrat-extrabold.eot');
	src: local('☺'), url('../../fonts/montserrat-extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../../fonts/montserrat-regular.eot');
	src: local('☺'), url('../../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -499px;
}

