/*

*/

.version.licence /* version checker */
{
	color: #00000D;
	background-color: #574A4B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #000000 url("../../images/webbg.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u1144
{
	z-index: 2;
	min-height: 51px;
	padding-bottom: 20px;
}

#u1158
{
	z-index: 51;
	width: 207px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 87px;
}

#u1144-bw
{
	z-index: 2;
	min-height: 51px;
}

#u1282-5
{
	z-index: 8;
	width: 370px;
	min-height: 95px;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 5px;
}

#u1282-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#accordionu1161wrapper
{
	min-height: 263px;
	z-index: 53;
	margin-right: -10000px;
}

#u1162
{
	z-index: 54;
}

#u1172-3
{
	z-index: 55;
	min-height: 51px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1172-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1172-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u1163
{
	z-index: 58;
	padding-bottom: 7px;
}

#menuu1164
{
	z-index: 59;
	min-height: 178px;
}

#u1168
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1168:active
{
	min-height: 17px;
	margin: 0px;
}

#u1169-4
{
	min-height: 17px;
	top: 20px;
}

#u1168:active #u1169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1203
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1168.MuseMenuActive,#u1203:active
{
	min-height: 17px;
	margin: 0px;
}

#u1206-4
{
	min-height: 17px;
	top: 20px;
}

#u1168.MuseMenuActive #u1169-4,#u1203:active #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1208
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1203.MuseMenuActive,#u1208:active
{
	min-height: 17px;
	margin: 0px;
}

#u1208.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u1211-4
{
	min-height: 17px;
	top: 20px;
}

#u1203.MuseMenuActive #u1206-4,#u1208:active #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1208.MuseMenuActive #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1200,#u1207
{
	margin-top: 2px;
}

#menuu1164-bw
{
	z-index: 59;
	min-height: 178px;
	margin-top: 7px;
}

#accordionu1161,#accordionu1161-bw
{
	z-index: 53;
}

#pu1283-36
{
	width: 0.01px;
	margin-top: 17px;
}

#u1283-36
{
	z-index: 13;
	width: 370px;
	min-height: 605px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1283-3
{
	font-weight: 700;
	line-height: 22px;
}

#u1283-16
{
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1283-11
{
	font-size: 48px;
	color: #000000;
	font-weight: 700;
	line-height: 58px;
}

#u1283-12,#u1283-15
{
	color: #000000;
	line-height: 22px;
}

#u1283-5,#u1283-9,#u1283-32
{
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1282,#u1283,#u1283-6,#u1283-10,#u1283-28
{
	font-size: 48px;
	color: #1ECAB4;
	font-weight: 700;
	line-height: 58px;
}

#u1283-2,#u1283-7,#u1283-29
{
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
}

#u1282-2,#u1283-4,#u1283-8,#u1283-13,#u1283-30
{
	line-height: 22px;
}

#u1283-31
{
	font-size: 11px;
	line-height: 13px;
}

#u1283-17,#u1283-18,#u1283-19,#u1283-20,#u1283-21,#u1283-22,#u1283-23,#u1283-24,#u1283-25,#u1283-26,#u1283-27,#u1283-33,#u1283-34
{
	color: #000000;
}

#u1284
{
	z-index: 49;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
}

#page_position_content,#pu1144,#pu1145
{
	width: 0.01px;
}

#u1145,#u1145-bw
{
	z-index: 3;
	height: 71px;
}

#u1146-4
{
	z-index: 4;
	min-height: 12px;
}

#u1146-4-bw
{
	z-index: 4;
	min-height: 12px;
	margin-top: 27px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../../fonts/montserrat-bold.eot');
	src: local('☺'), url('../../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../../fonts/montserrat-regular.eot');
	src: local('☺'), url('../../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

