#u1144
{
	background-color: #1ECAB4;
}

#accordionu1161
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u1172-3
{
	border-color: #FFFFFF;
	background: transparent url("../../images/mobilemenu.png") no-repeat right center;
}

#u1172-3:active
{
	border-width: 0px;
	background: transparent url("../../images/mobilemenu.png") no-repeat right center;
}

#u1172-3.AccordionPanelTabOpen
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px 1px 0px;
	background: transparent url("../../images/mobilemenuclose.png") no-repeat right center;
}

#u1172-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	padding-left: 0px;
	font-size: 20px;
	text-align: right;
	padding-right: 83px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1172-2
{
	line-height: 45px;
	font-size: 20px;
	text-align: right;
	color: #999999;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u1172
{
	padding-right: 83px;
}

#u1163
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#menuu1164
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1168
{
	background-color: #000000;
}

#u1168:active
{
	background-color: #6B6B6B;
}

#u1169-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u1168.MuseMenuActive,#u1203
{
	background-color: #000000;
}

#u1203:active
{
	background-color: #6B6B6B;
}

#u1206-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u1158,#u1162,#u1165,#u1200,#u1207
{
	background-color: transparent;
}

#u1203.MuseMenuActive,#u1208
{
	background-color: #000000;
}

#u1208:active
{
	background-color: #6B6B6B;
}

#u1211-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1208.MuseMenuActive,#u1145
{
	background-color: #000000;
}

#u1146-4,#u1340-5
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
}

#u1340-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1340
{
	font-size: 11px;
	line-height: 13px;
}

