/*

*/

.version.index /* version checker */
{
	color: #000001;
	background-color: #C29E30;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 778.9999999999993px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#pu104
{
	width: 0.01px;
	padding-bottom: 779px;
	margin-left: -100px;
}

#u104
{
	z-index: 2;
	height: 779px;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,#000000 ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,#000000 ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=0)";
	position: fixed;
	top: 0px;
}

#u104-bw
{
	z-index: 2;
}

#u326
{
	z-index: 3;
	height: 779px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0)";
	position: fixed;
	bottom: 0px;
}

#u326-bw
{
	z-index: 3;
}

#pu107
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: -639px;
}

#u107
{
	z-index: 4;
	width: 349px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u114
{
	z-index: 6;
	width: 350px;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.5);
}

#u117-4
{
	z-index: 7;
	width: 350px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u320
{
	z-index: 15;
	width: 350px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.425);
	background-color: #262626;
	background-color: rgba(0,0,0,0.85);
	padding-bottom: 10px;
	margin-left: 300px;
	top: -273px;
	margin-bottom: -41px;
	position: relative;
	-pie-background: rgba(0,0,0,0.85);
}

#u321-4
{
	z-index: 16;
	width: 350px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Montserrat_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu218
{
	width: 0.01px;
	margin-left: 301px;
	margin-top: -214px;
}

#u218
{
	z-index: 11;
	width: 75px;
	height: 75px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.425);
	position: relative;
	margin-right: -10000px;
	background: #262626 url("../images/itunes-u218-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.85);
	background-size: 30px 30px;
}

#u218:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/itunes.png") no-repeat center center;
	background-color: rgba(0,0,0,1);
}

#u221
{
	z-index: 12;
	width: 75px;
	height: 75px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.425);
	position: relative;
	margin-right: -10000px;
	left: 92px;
	background: #262626 url("../images/spotify-u221-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.85);
}

#u221:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/spotify.png") no-repeat center center;
	background-color: rgba(0,0,0,1);
}

#u224
{
	z-index: 13;
	width: 75px;
	height: 75px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.425);
	position: relative;
	margin-right: -10000px;
	left: 183px;
	background: #262626 url("../images/googleplay-u224-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.85);
}

#u224:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/googleplay.png") no-repeat center center;
	background-color: rgba(0,0,0,1);
}

#u227
{
	z-index: 14;
	width: 75px;
	height: 75px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.425);
	position: relative;
	margin-right: -10000px;
	left: 275px;
	background: #262626 url("../images/soundcloud-u227-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.85);
}

#u227:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/soundcloud.png") no-repeat center center;
	background-color: rgba(0,0,0,1);
}

.html
{
	background: #FFFFFF url("../images/vis004.jpg") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 950px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular.eot');
	src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

